<div class="jk-container jk-welcome">
    <!-- <h1>welcome !!!</h1>-->
    <div style="width:70%;padding:60px 20px;margin:0 auto;display:table;">
        <ul class="list-inline">
            <li class="primary">
                <i class="icon-user"></i>
                <h5>登录</h5>
            </li>
            <li class="success" onclick="javascript:location.href = '../#/jkValidate'">
                <i class="icon-comment-alt"></i>
                <h5>验证</h5>
            </li>
            <li class="green">
                <i class="icon-bar-chart"></i>
                <h5>图表</h5>
            </li>
            <li class="primary">
                <i class="icon-align-left"></i>
                <h5>web树</h5>
            </li>
            <li class="primary">
                <i class="icon-calendar"></i>
                <h5>日期</h5>
            </li>
            <li class="orange">
                <i class="icon-dashboard"></i>
                <h5>颜色</h5>
            </li>
            <li class="purple">
                <i class="icon-youtube-play"></i>
                <h5>媒体</h5>
            </li>
            <li class="thickblue">
                <i class=" icon-upload"></i>
                <h5>上传</h5>
            </li>
            <li class="thickgreen">
                <i class="icon-table"></i>
                <h5>表格</h5>
            </li>
            <li class="pink">
                <i class="icon-bug"></i>
                <h5>测试</h5>
            </li>
            <li class="primary">
                <i class="icon-file-alt"></i>
                <h5>文档</h5>
            </li>
            <li class="primary">
                <i class="icon-leaf"></i>
                <h5>帮助</h5>
            </li>
            <li class="primary" onclick="javascript:window.open('http://github.com/cookmen');">
                <i class="icon-github-alt"></i>
                <h5>github</h5>
            </li>
            <li class="primary">
                <i class="icon-leaf"></i>
                <h5>something</h5>
            </li>
            <li class="primary">
                <i class="icon-leaf"></i>
                <h5>something</h5>
            </li>
        </ul>
    </div>
</div>
